<div class="products">
  <div class="product" *ngFor="let product of products">
    <div class="product-image">
      <img checkimagedefault="" alt="" [src]="product?.imgLink" />
      <div class="icons">
        <ul>
          <li>
            <a><i class="fa-solid fa-shuffle"></i></a>
          </li>
          <li>
            <a [routerLink]="['/product-details', product._id]"><i class="fa fa-eye"></i></a>
          </li>
        </ul>
      </div>
      <div class="tag"></div>
      <div>
        <span class="wish"><i class="fa fa-heart"></i></span>
      </div>
    </div>
    <div class="product-body">
      <div>
        <div class="rating-area">
          <ul>
            <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
            <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
            <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
            <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
            <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
            <li><span>(0)</span></li>
          </ul>
        </div>
        <div class="select-box ng-star-inserted">
          <select>
            <option value="0" class="ng-star-inserted">
              <button>Old - <sub>৳</sub>{{ product?.oldPrice }}</button>
            </option>
            <option value="1" class="ng-star-inserted">
              <button>New - <sub>৳</sub>{{ product?.newPrice }}</button>
            </option>
          </select>
        </div>
        <a
          class="product_name"
          [routerLink]="['/product-details', product._id]"
          >{{ product?.title }}</a
        >
        <div class="product-price ng-star-inserted">
          <span class="currPrice">৳120 /<small>Old </small></span>
        </div>
      </div>
      <div class="ng-star-inserted">
        <button class="product-button ng-star-inserted">
          <i class="fa-solid fa-basket-shopping"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>
